<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT guide ANY>
<!ATTLIST guide id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT baseSection ANY>
<!ATTLIST baseSection id ID #REQUIRED>
<!ELEMENT contentBoxPage ANY>
<!ATTLIST contentBoxPage id ID #REQUIRED>
<!ELEMENT simpleBox ANY>
<!ATTLIST simpleBox id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT exercise ANY>
<!ATTLIST exercise id ID #REQUIRED>
<!ELEMENT exercises ANY>
<!ATTLIST exercises id ID #REQUIRED>
<!ELEMENT basePage ANY>
<!ATTLIST basePage id ID #REQUIRED>
<!ELEMENT baseContentBox ANY>
<!ATTLIST baseContentBox id ID #REQUIRED>
<!ELEMENT guideIntro ANY>
<!ATTLIST guideIntro id ID #REQUIRED>
<!ELEMENT trainingOverview ANY>
<!ATTLIST trainingOverview id ID #REQUIRED>
<!ELEMENT trainingSurvey ANY>
<!ATTLIST trainingSurvey id ID #REQUIRED>
<!ELEMENT trainingDiary ANY>
<!ATTLIST trainingDiary id ID #REQUIRED>
<!ELEMENT repetitionMaximum ANY>
<!ATTLIST repetitionMaximum id ID #REQUIRED>
<!ELEMENT groupASurvey ANY>
<!ATTLIST groupASurvey id ID #REQUIRED>
<!ELEMENT groupBSurvey ANY>
<!ATTLIST groupBSurvey id ID #REQUIRED>
<!ELEMENT groupADiary ANY>
<!ATTLIST groupADiary id ID #REQUIRED>
<!ELEMENT submissionsDirectory ANY>
<!ATTLIST submissionsDirectory id ID #REQUIRED>
<!ELEMENT userA ANY>
<!ATTLIST userA id ID #REQUIRED>
<!ELEMENT userB ANY>
<!ATTLIST userB id ID #REQUIRED>
<!ELEMENT usersDirectory ANY>
<!ATTLIST usersDirectory id ID #REQUIRED>
<!ELEMENT groupBDiary ANY>
<!ATTLIST groupBDiary id ID #REQUIRED>
]>
<root id="-1">
  <home id="1065" key="7021da52-54ba-414d-9606-a0e4a2731d4e" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-04-09T10:02:55" updateDate="2019-04-09T10:27:13" nodeName="Overview" urlName="overview" path="-1,1065" isDoc="" nodeType="1063" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="home" isPublished="true">
    <title><![CDATA[Oversigt]]></title>
    <guide id="1066" key="8a182883-7e24-4e35-be1a-69e807dd0062" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2019-04-09T10:04:03" updateDate="2019-04-09T10:27:00" nodeName="Guide" urlName="guide" path="-1,1065,1066" isDoc="" nodeType="1061" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="guide" isPublished="true">
      <title><![CDATA[Vejledning]]></title>
      <contentBoxPage id="1071" key="af5ba885-8ea1-470e-8c07-fd31fcea28dc" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2019-04-09T10:26:10" updateDate="2019-04-09T10:26:10" nodeName="About program" urlName="about-program" path="-1,1065,1066,1071" isDoc="" nodeType="1069" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="contentBoxPage" isPublished="true">
        <heading><![CDATA[Om programmet]]></heading>
        <simpleBox id="1077" key="dd4a9fb3-c395-4db6-9c44-dd55a3a5b29b" parentID="1071" level="4" creatorID="0" sortOrder="0" createDate="2019-04-09T10:52:21" updateDate="2019-04-09T10:53:52" nodeName="How does the program work?" urlName="how-does-the-program-work" path="-1,1065,1066,1071,1077" isDoc="" nodeType="1075" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="simpleBox" isPublished="true">
          <body><![CDATA[<p>Programmets er designet for at øge stivhedsgraden i muskler og sener omkring skulderen og skulderbladet, således at du bedre kan kontrollere bevægelser i hverdagen.</p>
<p>De første fire uger er en tilvænningsfase, hvor belastningen gradvist øges. Derefter indledes styrkeprogrammet.</p>]]></body>
          <title><![CDATA[Hvordan virker programmet?]]></title>
        </simpleBox>
        <simpleBox id="1078" key="51040a79-7abd-4fb1-b06d-3047907b8f89" parentID="1071" level="4" creatorID="0" sortOrder="1" createDate="2019-04-09T10:53:17" updateDate="2019-04-09T10:53:46" nodeName="General recommendations" urlName="general-recommendations" path="-1,1065,1066,1071,1078" isDoc="" nodeType="1075" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="simpleBox" isPublished="true">
          <body><![CDATA[<p>Træning regelmæssigt er lige så vigtig som en sund livsstil, og der er ikke nogen grund til at folk med hypermobile led ikke skal træne. Men finder du ud af, at visse sportsgrene eller øvelser giver anledning til smerter, bør du stoppe disse aktiviteter, indtil du ved hvorfor symptomerne opstår. Med de rigtige styrkeøvelser kan det være muligt at vende tilbage til de bestemte aktiviteter uden at øge symptomerne.</p>
<p>Kontrolleret styrketræning og holdningsøvelser kan derfor være godt for kroppen.</p>]]></body>
          <title><![CDATA[Generelle anbefalinger]]></title>
        </simpleBox>
      </contentBoxPage>
      <exercises id="1093" key="30ef99ce-9043-42a1-b5f3-71b690c0c5be" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2019-04-11T10:36:11" updateDate="2019-04-21T13:18:30" nodeName="Exercises" urlName="exercises" path="-1,1065,1066,1093" isDoc="" nodeType="1089" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="exercises" isPublished="true">
        <heading><![CDATA[Øvelser]]></heading>
        <exercise id="1097" key="1b0dfcb0-c3cb-4400-a6bb-9723d0a5f343" parentID="1093" level="4" creatorID="0" sortOrder="0" createDate="2019-04-11T11:41:31" updateDate="2019-04-21T13:18:26" nodeName="Exercise 1" urlName="exercise-1" path="-1,1065,1066,1093,1097" isDoc="" nodeType="1087" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="exercise" isPublished="true">
          <body><![CDATA[<p>Lorem ipsum</p>]]></body>
          <intro><![CDATA[Udføres uge 1-4]]></intro>
          <number>1</number>
          <heading><![CDATA[Kropsholdning]]></heading>
        </exercise>
      </exercises>
      <contentBoxPage id="1073" key="a2c82e34-4a27-446b-9c26-51bf6ed991a8" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2019-04-09T10:26:50" updateDate="2019-04-09T10:26:50" nodeName="About training" urlName="about-training" path="-1,1065,1066,1073" isDoc="" nodeType="1069" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="contentBoxPage" isPublished="true">
        <heading><![CDATA[Om træningsdagbogen]]></heading>
      </contentBoxPage>
    </guide>
    <login id="1085" key="f3e29d38-b828-4524-8b5f-08f09f5b76a8" parentID="1065" level="2" creatorID="0" sortOrder="1" createDate="2019-04-10T20:45:56" updateDate="2019-04-21T13:58:29" nodeName="Login" urlName="login" path="-1,1065,1085" isDoc="" nodeType="1083" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="login" isPublished="true">
      <title><![CDATA[Log ind]]></title>
      <loginButtonText><![CDATA[Log ind]]></loginButtonText>
      <codePlaceholder><![CDATA[Indtast din brugerkode]]></codePlaceholder>
      <applicationName><![CDATA[SDU Træningsprogram]]></applicationName>
      <instructions><![CDATA[Log ind med den kode du fik udleveret i din e-Boks.]]></instructions>
    </login>
    <guideIntro id="1101" key="d87cc5c9-6eae-4be3-a044-5755ab397726" parentID="1065" level="2" creatorID="0" sortOrder="2" createDate="2019-04-21T13:08:43" updateDate="2019-04-21T14:09:43" nodeName="Guide Intro" urlName="guide-intro" path="-1,1065,1101" isDoc="" nodeType="1100" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="guideIntro" isPublished="true">
      <title><![CDATA[Vejledning]]></title>
      <nextButtonText><![CDATA[Videre]]></nextButtonText>
      <simpleBox id="1102" key="1bfb7e3a-6635-498b-bd7c-055422a5da17" parentID="1101" level="3" creatorID="0" sortOrder="0" createDate="2019-04-21T13:09:49" updateDate="2019-04-21T13:10:50" nodeName="Read through" urlName="read-through" path="-1,1065,1101,1102" isDoc="" nodeType="1075" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="simpleBox" isPublished="true">
        <subheading><![CDATA[Læs denne vejledning igennem inden du påbegynder dit træningsprogram.]]></subheading>
        <isImportant>1</isImportant>
        <body><![CDATA[<p>Du kan altid finde vejledningen igen, når du får brug for den på et senere tidspunkt.</p>]]></body>
      </simpleBox>
      <simpleBox id="1103" key="0d777818-7f9f-400a-84b8-221dd7b44792" parentID="1101" level="3" creatorID="0" sortOrder="1" createDate="2019-04-21T13:11:33" updateDate="2019-04-21T14:09:55" nodeName="How does the program work" urlName="how-does-the-program-work" path="-1,1065,1101,1103" isDoc="" nodeType="1075" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="simpleBox" isPublished="true">
        <subheading><![CDATA[Hvordan virker programmet?]]></subheading>
        <isImportant>0</isImportant>
        <body><![CDATA[<p>Programmets er designet for at øge stivhedsgraden i muskler og sener omkring skulderen og skulderbladet, således at du bedre kan kontrollere bevægelser i hverdagen.</p>
<p>De første fire uger er en tilvænningsfase, hvor belastningen gradvist øges. Derefter indledes styrkeprogrammet.</p>]]></body>
      </simpleBox>
    </guideIntro>
    <trainingOverview id="1108" key="99c11896-4c17-4c0d-a16c-031711784844" parentID="1065" level="2" creatorID="0" sortOrder="3" createDate="2019-04-21T14:10:31" updateDate="2019-04-21T14:10:31" nodeName="Training" urlName="training" path="-1,1065,1108" isDoc="" nodeType="1104" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="trainingOverview" isPublished="true">
      <title><![CDATA[Træning]]></title>
      <trainingDiary id="1109" key="9f222e2d-f6d9-4e0a-9217-6eaad912d7ca" parentID="1108" level="3" creatorID="0" sortOrder="0" createDate="2019-04-21T14:10:55" updateDate="2019-04-21T14:10:55" nodeName="Training Diary" urlName="training-diary" path="-1,1065,1108,1109" isDoc="" nodeType="1106" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="trainingDiary" isPublished="true">
        <title><![CDATA[Træningsdagbog]]></title>
      </trainingDiary>
      <trainingSurvey id="1110" key="fb55fb0e-aee4-4ce8-93ad-e04283aa8797" parentID="1108" level="3" creatorID="0" sortOrder="1" createDate="2019-04-21T14:11:11" updateDate="2019-04-23T12:53:52" nodeName="Training Survey" urlName="training-survey" path="-1,1065,1108,1110" isDoc="" nodeType="1105" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="trainingSurvey" isPublished="true">
        <title><![CDATA[Spørgeskema]]></title>
      </trainingSurvey>
    </trainingOverview>
  </home>
  <usersDirectory id="1133" key="534fb067-c741-44de-82d8-5c9d85bdaadb" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-04-22T13:41:57" updateDate="2019-04-22T13:41:57" nodeName="Users" urlName="users" path="-1,1133" isDoc="" nodeType="1132" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="usersDirectory" isPublished="true">
    <userA id="1135" key="c9a4163d-abc9-495f-9a16-1eb175a8592d" parentID="1133" level="2" creatorID="0" sortOrder="0" createDate="2019-04-22T13:44:32" updateDate="2019-04-22T13:44:32" nodeName="13685" urlName="13685" path="-1,1133,1135" isDoc="" nodeType="1130" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="userA" isPublished="true">
      <autheticationCode><![CDATA[13685]]></autheticationCode>
    </userA>
  </usersDirectory>
  <submissionsDirectory id="1138" key="aca88fe8-6b4f-481a-9ca0-1b72eeab376a" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2019-04-22T14:06:35" updateDate="2019-04-22T14:06:35" nodeName="Submissions" urlName="submissions" path="-1,1138" isDoc="" nodeType="1129" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="submissionsDirectory" isPublished="true">
    <groupASurvey id="1154" key="d90ff2bb-d2b2-4bca-b37b-2ef76e62d66c" parentID="1138" level="2" creatorID="0" sortOrder="0" createDate="2019-04-23T12:15:29" updateDate="2019-04-23T12:15:29" nodeName="13685-23-04-2019-A-Survey" urlName="13685-23-04-2019-a-survey" path="-1,1138,1154" isDoc="" nodeType="1117" creatorName="Uffe Christiansen" writerName="Uffe Christiansen" writerID="0" template="0" nodeTypeAlias="groupASurvey" isPublished="true">
      <painAverage><![CDATA[5]]></painAverage>
      <painHigh><![CDATA[8]]></painHigh>
      <painLow><![CDATA[2]]></painLow>
      <ipren600>0</ipren600>
      <daysOnMedication><![CDATA[1]]></daysOnMedication>
      <ipren200>1</ipren200>
      <pamol500>1</pamol500>
      <daysSick><![CDATA[1]]></daysSick>
      <treatmentAcupuncture>0</treatmentAcupuncture>
      <treatmentChiropractor>0</treatmentChiropractor>
      <treatmentPhysiotherapy>0</treatmentPhysiotherapy>
      <treatmentMassage>1</treatmentMassage>
      <treatmentDoctor>0</treatmentDoctor>
      <date>2019-04-23T00:00:00</date>
      <user><![CDATA[13685]]></user>
    </groupASurvey>
  </submissionsDirectory>
</root>